//- #buttons_block.uk-section.uk-height-auto.uk-padding-remove(style="width: 250px;")
mixin btn_row(_pic) 
    #buttons_block.uk-button-group.uk-height-auto(style="width: 250px;") 
        button.uk-padding-remove(style="width: 66px; height: 66px; outline: none; border: none; background-color: transparent;")
            img(src="/gui_btn_image?name=arrow_l.png")
        button.uk-padding-remove(style="background-image: url('/gui_btn_image?name=button_light.png'); background-size: cover; background-origin: border-box; background-repeat: no-repeat; width: 66px; height: 66px; outline: none; border: none; background-color: transparent;")
            img(src=_pic style="width: 56px; height: 48px;")
        button.uk-padding-remove(style=" width: 66px; height: 66px; outline: none; border: none; background-color: transparent;")
            img(src="/gui_btn_image?name=arrow_r.png" style="width: 66px; height: 66px;")