head
  title anda bot visual
  //- script(src='/javascripts/jquery.js')
  //- script(src='/javascripts/app.js')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel="stylesheet" type='text/css' href='/uikit.css')
  link(rel="stylesheet" type='text/css' href='/tvr_custom.css')
  //- script(src='/assets/uikit3/js/uikit.js')
  script(type="text/javascript", src='/uikit.js')
  script(src='/uikit-icons')
  script(type='module' src='/dist/js/bundle.js')
  //- - 
    //- window.onload = function() {
    //-   console.log('вызов бандла фронтэнда')
      //- const script = document.createElement('script');
      //- document.head.append(script);
      //- async function load() {
      //-   await import('./js/bundle.js');
      //- }
    }

  //- style(type='text/css').
    //- body {margin: 0;}
