// панель с отладочной информациоей
#debug_gui.tvr_semi.uk-invisible
  span.tvr_semi_3 cam. alpha: 
  span#cam_alpha.tvr_semi 0.0
  br
  span.tvr_semi_3 cam. pos: 
  span#cam_pos.tvr_semi 0.0
  br
  span.tvr_semi_3 delta_time: 
  span#delta_time.tvr_semi 0.0
